node_modules/
.env

echo "# sql_postgressql_practiced" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Mariia-Petlovana-91/sql_postgressql_practiced.git
git push -u origin main